
<div style="margin-top: 100px; margin-bottom: 20px;">

    <div id="mailsub" class="notification" align="center">

        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;"><tr><td align="center" >


            <table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 980px; min-width: 300px;">

                <!--content 1 -->
                <tr><td align="center" bgcolor="#fbfcfd">
                    <table width="90%" border="0" cellspacing="0" cellpadding="0">
                        <tr><td align="center">
                            <!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;"> </div>
                            <div style="line-height: 44px;">

					<span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
						{{vm.course.name}}
					</span>
                            </div>
                            <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                        </td></tr>
                        <tr><td align="center">
                            <div style="line-height: 24px;">

					<span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
						{{vm.course.teacher.login}}
					</span>
                            </div>
                            <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                        </td></tr>
                        <tr><td align="center">
                            <div style="line-height: 24px;">
                                <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">

                               <span style="font-family: Arial, Helvetica, sans-serif; font-size: 30px; color: #596167;">
                                {{vm.course.description}}
                               </span>
                            </div>
                            <!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;"> </div>
                        </td></tr>
                    </table>
                </td></tr>
                <!--content 1 END-->

                <!--content 2 -->
                <tr><td align="center" bgcolor="#ffffff" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
                    <table width="94%" border="0" cellspacing="0" cellpadding="0">
                        <tr><td align="center">
                            <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>

                            <div class="mob_100" style="float: left; display: inline-block; width: 33%;">
                                <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
                                    <tr><td align="center" style="line-height: 14px; padding: 0 27px;">
                                        <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                                        <div style="line-height: 14px;">
                                            <font face="Arial, Helvetica, sans-serif" size="3" color="#4db3a4" style="font-size: 14px;">
                                                <strong style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4db3a4;">
                                                    <a href="#1" target="_blank" style="color: #4db3a4; text-decoration: none;">Price</a>
                                                </strong></font>
                                        </div>
                                        <!-- padding --><div style="height: 18px; line-height: 18px; font-size: 10px;"> </div>
                                        <div style="line-height: 21px;">
                                            <font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9" style="font-size: 14px;">
								<span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #98a7b9;">
									{{vm.course.price}}
								</span></font>
                                        </div>
                                    </td></tr>
                                </table>
                            </div>
                            <div class="mob_100" style="float: left; display: inline-block; width: 33%;">
                                <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
                                    <tr><td align="center" style="line-height: 14px; padding: 0 27px;">
                                        <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                                        <div style="line-height: 14px;">
                                            <font face="Arial, Helvetica, sans-serif" size="3" color="#4db3a4" style="font-size: 14px;">
                                                <strong style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4db3a4;">
                                                    <a href="#2" target="_blank" style="color: #4db3a4; text-decoration: none;">Rating</a>
                                                </strong></font>
                                        </div>
                                        <!-- padding --><div style="height: 18px; line-height: 18px; font-size: 10px;"> </div>
                                        <div style="line-height: 21px;">
                                            <font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9" style="font-size: 14px;">
								<span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #98a7b9;">
									{{vm.course.rating}} stars
								</span></font>
                                        </div>
                                    </td></tr>
                                </table>
                            </div>
                            <div class="mob_100" style="float: left; display: inline-block; width: 33%;">
                                <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
                                    <tr><td align="center" style="line-height: 14px; padding: 0 27px;">
                                        <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                                        <div style="line-height: 14px;">
                                            <font face="Arial, Helvetica, sans-serif" size="3" color="#4db3a4" style="font-size: 14px;">
                                                <strong style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4db3a4;">
                                                    <a href="#3" target="_blank" style="color: #4db3a4; text-decoration: none;">District</a>
                                                </strong></font>
                                        </div>
                                        <!-- padding --><div style="height: 18px; line-height: 18px; font-size: 10px;"> </div>
                                        <div style="line-height: 21px;">
                                            <font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9" style="font-size: 14px;">
								<span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #98a7b9;">
									{{vm.course.district}}
								</span></font>
                                        </div>
                                    </td></tr>
                                </table>
                            </div>
                        </td></tr>
                        <tr><td><!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"> </div></td></tr>
                    </table>
                </td></tr>
                <!--content 2 END-->



                <!--pic part-->
                <tr><td align="center" bgcolor="#ffffff" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
                    <table width="94%" border="0" cellspacing="0" cellpadding="0">
                        <tr><td align="center">
                            <!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>

                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr><td align="center">
                                    <font face="Arial, Helvetica, sans-serif" size="3" color="#57697e" style="font-size: 26px;">
						<span style="font-family: Arial, Helvetica, sans-serif; font-size: 26px; color: #57697e;">
							detail picture
						</span></font>
                                </td></tr>
                            </table>

                            <!--detail picture here-->
                            <div ng-repeat="pic in vm.picture track by pic.id">
                                <!--Card-->
                                <div class="card" style=" width: 200px;height:200px;float:left; margin-right: 25px;margin-bottom: 25px;">
                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight" >
                                        <img data-ng-src="{{'data:' + pic.imageContentType + ';base64,' + pic.image}}" style=" width:200px;height:200px;" class="img-fluid" alt="pic image"/>
                                        <!--<img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">-->
                                        <a class="waves-effect waves-light btn-large" href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                </div>
                                <!--/.Card-->
                            </div>

                        </td></tr>
                        <tr><td><!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"> </div></td></tr>
                    </table>
                </td></tr>
                <!--end pic part-->
                <!--links -->
                <tr><td align="center" bgcolor="#ffffff" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr><td align="center">
                            <!-- padding --><div style="height: 32px; line-height: 32px; font-size: 10px;"> </div>
                            <table width="80%" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="center" valign="middle" style="font-size: 12px; line-height: 22px;">
                                        <font face="Tahoma, Arial, Helvetica, sans-serif" size="2" color="#282f37" style="font-size: 12px;">
								<span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #5b9bd1;">
		              <a ui-sref="course-detail.addpic({id:vm.course.id})" target="_blank" style="color: #5b9bd1; text-decoration: none;">Add a pic</a>
		                  <img src="http://artloglab.com/metromail/images/dot.gif" alt="|" width="9" height="9" class="mob_display_none" />
		              <a ui-sref="course-detail.edit({id:vm.course.id})" target="_blank" style="color: #5b9bd1; text-decoration: none;">Edit</a>



              </span></font>
                                    </td>
                                </tr>
                            </table>
                        </td></tr>
                        <tr><td><!-- padding --><div style="height: 32px; line-height: 32px; font-size: 10px;"> </div></td></tr>
                    </table>
                </td></tr>
                <!--links END-->

                <!--content 3 -->

                <!--content 3 END-->




            </td></tr>
            </table>
            <![endif]-->

        </td></tr>
        </table>

    </div>
    <!--end change-->

    <!--<div class="table-responsive">-->
        <!--<table class="jh-table table table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th><span>ID</span></th>-->
                <!--<th><span>Image</span></th>-->
                <!--<th><span>Coursepic</span></th>-->
                <!--<th></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="pic in vm.picture track by pic.id">-->
                <!--<td><a ui-sref="pic-detail({id:pic.id})">{{pic.id}}</a></td>-->
                <!--<td>-->
                    <!--<a ng-if="pic.image" ng-click="vm.openFile(pic.imageContentType, pic.image)">-->
                        <!--<img data-ng-src="{{'data:' + pic.imageContentType + ';base64,' + pic.image}}" style="max-height: 30px;" alt="pic image"/>-->
                    <!--</a>-->
                    <!--<span ng-if="pic.image">{{pic.imageContentType}}, {{vm.byteSize(pic.image)}}</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<a ui-sref="course-detail({id:pic.coursepic.id})">{{pic.coursepic.id}}</a>-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--ui-sref="pic-detail({id:pic.id})"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ui-sref="pic.edit({id:pic.id})"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="glyphicon glyphicon-pencil"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ui-sref="pic.delete({id:pic.id})"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <!--<div class="table-responsive">-->
        <!--<table class="jh-table table table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th><span>ID</span></th>-->
                <!--<th><span>Avater</span></th>-->
                <!--<th><span>User</span></th>-->
                <!--<th><span>Course</span></th>-->
                <!--<th></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="copyuser in vm.course.students track by copyuser.id">-->

                <!--<td><a ui-sref="copyuser-detail({id:copyuser.id})">{{copyuser.id}}</a></td>-->
                <!--<td>-->
                    <!--<a ng-if="vm.copyuser.avater" ng-click="vm.openFile(vm.copyuser.avaterContentType, vm.copyuser.avater)">-->
                        <!--<img data-ng-src="{{'data:' + vm.copyuser.avaterContentType + ';base64,' + vm.copyuser.avater}}" style="max-height: 30px;" alt="copyuser image"/>-->
                    <!--</a>-->
                    <!--<span ng-if="vm.copyuser.avater">{{vm.copyuser.avaterContentType}}, {{vm.byteSize(vm.copyuser.avater)}}</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--{{copyuser.user.login}}-->
                <!--</td>-->
                <!--<td>-->
                        <!--<span ng-repeat="course in copyuser.courses">-->
                            <!--<a class="form-control-static" ui-sref="course-detail({id: course.id})">{{course.id}}</a>{{$last ? '' : ', '}}-->
                        <!--</span>-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--ui-sref="copyuser-detail({id:copyuser.id})"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ui-sref="copyuser.edit({id:copyuser.id})"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="glyphicon glyphicon-pencil"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ui-sref="copyuser.delete({id:copyuser.id})"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</td>-->

            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <!--<button type="button" ui-sref="course-detail.edit({id:vm.course.id})" class="btn btn-primary">-->
        <!--<span class="glyphicon glyphicon-pencil"></span>-->
        <!--<span class="hidden-sm-down"> Edit</span>-->
    <!--</button>-->

    <!--<button type="button" ui-sref="course-detail.addpic({id:vm.course.id})" class="btn btn-primary">-->
        <!--<span class="glyphicon glyphicon-pencil"></span>-->
        <!--<span class="hidden-sm-down"> Add pic</span>-->
    <!--</button>-->
</div>
